<h1>Users section</h1>
<p>Enter the user id to be consulted:</p>
<input type="text" placeholder="Enter id" [(ngModel)]="userIdInput" />
<button (click)="onSearchingUser()">Search</button>
<button (click)="onCleanCache()">Clean cache</button>

<p>{{ message }}</p>

<div *ngIf="userInfo">
  <h5>User information</h5>
  <p>User ID: {{ userInfo.id }}</p>
  <p>User Name: {{ userInfo.name }}</p>
</div>
